
html,body{
    width: 100%;
}


#wrap-up{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vw 5vw;
    background-color: #D4C1A1;
}
button{
    margin: 2vw 3vw ;
    width: 120px;
    height: 40px;
    background-color: #8e1d28;
    color: white;
    font-size: 18px;
    font-family: "Gilroy";
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #8e1d28de;
    border: black 1.5px solid;
}

.selectedColor{
    display: inline-block;
    margin-top: 12px;
}
.color-grid{
    padding: 1.5vw 5vw;
    margin: 2vw 5vw;
    border: 1px solid rgba(255, 255, 255, 0.795);
    border-radius: 50%;
}
.color-value{
    color: black;
    font-size: 17px;
    font-weight: 400;
}

